USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[id_autor] [int] IDENTITY(1,1) NOT NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[nombre_completo] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[id_contacto] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[institucion] [nvarchar](150) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[correo] [nvarchar](150) NULL,
	[telefono] [nvarchar](50) NULL,
	[descripcion] [nvarchar](500) NULL,
	[fecha_creado] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejemplar]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejemplar](
	[id_ejemplar] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[codigo_interno] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
	[fecha_adquisicion] [date] NOT NULL,
	[clasificacion_dui] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ejemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[isbn] [nvarchar](20) NULL,
	[anio_publicacion] [int] NULL,
	[edicion] [nvarchar](50) NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[descripcion] [varchar](2000) NULL,
	[id_categoria] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[clasificacion_dui] [nvarchar](255) NOT NULL,
	[codigo_barras] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro_Autor]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro_Autor](
	[id_libro] [int] NOT NULL,
	[id_autor] [int] NOT NULL,
 CONSTRAINT [PK_Libro_Autor] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC,
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroDocumentos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroDocumentos](
	[id_libro] [int] NOT NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[contenido] [varbinary](max) NOT NULL,
	[content_type] [nvarchar](100) NOT NULL,
	[fecha_subida] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[id_prestamo] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_prestamo] [datetime] NOT NULL,
	[fecha_devolucion_esperada] [date] NOT NULL,
	[fecha_devolucion_real] [datetime] NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso_Digital]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso_Digital](
	[id_recurso] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[formato] [nvarchar](20) NOT NULL,
	[url] [nvarchar](500) NOT NULL,
	[licencia] [nvarchar](100) NULL,
	[tamano_mb] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[autor] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[clave] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[activo] [bit] NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [nvarchar](150) NOT NULL,
	[identificacion] [nvarchar](50) NOT NULL,
	[discapacidad] [bit] NOT NULL,
	[provincia] [nvarchar](100) NOT NULL,
	[canton] [nvarchar](100) NOT NULL,
	[distrito] [nvarchar](100) NOT NULL,
	[rango_edad] [nvarchar](50) NOT NULL,
	[sexo] [nvarchar](20) NOT NULL,
	[curso] [nvarchar](100) NOT NULL,
	[anio] [int] NOT NULL,
	[grupo] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[activo] [bit] NOT NULL,
	[comentario] [varchar](1500) NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacto] ADD  DEFAULT (sysdatetime()) FOR [fecha_creado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [fecha_prestamo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('PRESTADO') FOR [estado]
GO
ALTER TABLE [dbo].[Solicitud] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Solicitud] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Ejemplar]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplar_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Ejemplar] CHECK CONSTRAINT [FK_Ejemplar_Libro]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Categoria]
GO
ALTER TABLE [dbo].[Libro_Autor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Autor] FOREIGN KEY([id_autor])
REFERENCES [dbo].[Autor] ([id_autor])
GO
ALTER TABLE [dbo].[Libro_Autor] CHECK CONSTRAINT [FK_LibroAutor_Autor]
GO
ALTER TABLE [dbo].[Libro_Autor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Libro_Autor] CHECK CONSTRAINT [FK_LibroAutor_Libro]
GO
ALTER TABLE [dbo].[LibroDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_LibroDocumentos_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[LibroDocumentos] CHECK CONSTRAINT [FK_LibroDocumentos_Libro]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Libro]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuario]
GO
ALTER TABLE [dbo].[Recurso_Digital]  WITH CHECK ADD  CONSTRAINT [FK_RecursoDigital_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Recurso_Digital] CHECK CONSTRAINT [FK_RecursoDigital_Libro]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Rol]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [CK_Prestamos_Estado] CHECK  (([estado]='NO DEVUELTO' OR [estado]='DEVUELTO' OR [estado]='PRESTADO'))
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [CK_Prestamos_Estado]
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuarioBiblioteca]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CrearUsuarioBiblioteca]
    @nombre_completo NVARCHAR(150),
    @identificacion NVARCHAR(50),
    @discapacidad BIT,
    @provincia NVARCHAR(100),
    @canton NVARCHAR(100),
    @distrito NVARCHAR(100),
    @rango_edad NVARCHAR(50),
    @sexo NVARCHAR(20),
    @curso NVARCHAR(100),
    @anio INT,
    @grupo NVARCHAR(50),
    @telefono NVARCHAR(30) = NULL,
    @activo BIT = 1,
    @comentario NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuarios (nombre_completo, identificacion, discapacidad, provincia, canton, distrito, rango_edad, sexo, curso, anio, grupo, telefono, activo, comentario)
    VALUES (@nombre_completo, @identificacion, @discapacidad, @provincia, @canton, @distrito, @rango_edad, @sexo, @curso, @anio, @grupo, @telefono, @activo, @comentario);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadosPrestamosVencidos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarEstadosPrestamosVencidos]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Prestamos
    SET estado = 'NO DEVUELTO'
    WHERE estado = 'PRESTADO'
      AND fecha_devolucion_esperada < CAST(GETDATE() AS DATE)
      AND fecha_devolucion_real IS NULL;

    SELECT @@ROWCOUNT AS registros_actualizados,
           'Estados actualizados correctamente' AS Mensaje;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearAutor]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearAutor]
    @nombre_completo NVARCHAR(100),
    @nacionalidad NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Autor (nombre_completo, nacionalidad)
    VALUES (@nombre_completo, @nacionalidad);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCategoria]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CrearCategoria]
    @nombre NVARCHAR(100),
    @descripcion NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Categoria (nombre, descripcion)
    VALUES (@nombre, @descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearContacto]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CrearContacto]
    @tipo        NVARCHAR(50),
    @institucion NVARCHAR(150),
    @nombre      NVARCHAR(150) = NULL,
    @correo      NVARCHAR(150) = NULL,
    @telefono    NVARCHAR(50)  = NULL,
    @descripcion NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Contacto (
        tipo,
        institucion,
        nombre,
        correo,
        telefono,
        descripcion
    )
    VALUES (
        @tipo,
        @institucion,
        @nombre,
        @correo,
        @telefono,
        @descripcion
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearLibro]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearLibro]
    @titulo NVARCHAR(200),
    @isbn NVARCHAR(20) = NULL,
    @anio_publicacion INT = NULL,
    @edicion NVARCHAR(50) = NULL,
    @tipo NVARCHAR(20),
    @descripcion NVARCHAR(500) = NULL,
    @id_categoria INT,
    @activo BIT = 1,
    @autores_ids_csv NVARCHAR(MAX) = NULL,
    @clasificacion_dui NVARCHAR(255) = NULL,
	@codigo_barras NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Libro (titulo, isbn, anio_publicacion, edicion, tipo, descripcion, id_categoria, activo, clasificacion_dui, codigo_barras)
    VALUES (@titulo, @isbn, @anio_publicacion, @edicion, @tipo, @descripcion, @id_categoria, @activo, @clasificacion_dui, @codigo_barras);

    DECLARE @id_libro INT = SCOPE_IDENTITY();

    IF @autores_ids_csv IS NOT NULL
    BEGIN
        DECLARE @xml XML
        SET @xml = CAST('<root><a>'+REPLACE(@autores_ids_csv, ',', '</a><a>')+'</a></root>' AS XML)

        INSERT INTO Libro_Autor (id_libro, id_autor)
        SELECT @id_libro, T.N.value('.', 'INT')
        FROM @xml.nodes('/root/a') AS T(N)
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPrestamo]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CrearPrestamo]
    @id_libro INT,
    @identificacion VARCHAR(50),
    @fecha_devolucion_esperada DATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE @id_usuario INT;

        -- Buscar el id_usuario usando la identificación
        SELECT @id_usuario = id_usuario
        FROM Usuarios
        WHERE identificacion = @identificacion;

        IF @id_usuario IS NULL
        BEGIN
            RAISERROR('El usuario no existe.',16,1);
            RETURN;
        END

        INSERT INTO Prestamos (
            id_libro,
            id_usuario,
            fecha_devolucion_esperada,
            estado,
            observaciones
        )
        VALUES (
            @id_libro,
            @id_usuario,
            @fecha_devolucion_esperada,
            'PRESTADO',
            NULL
        );

    END TRY
    BEGIN CATCH
        DECLARE @mensaje NVARCHAR(4000);
        SET @mensaje = ERROR_MESSAGE();
        RAISERROR(@mensaje,16,1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @descripcion NVARCHAR(500),
    @autor NVARCHAR(150),
	@activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Solicitud (descripcion, autor, activo)
    VALUES (@descripcion, @autor, @activo);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DesactivarLibro]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DesactivarLibro]
    @id_libro INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Libro
    SET activo = 0
    WHERE id_libro = @id_libro;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DesactivarUsuario]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DesactivarUsuario]
    @id_usuario INT
AS
BEGIN
    UPDATE Usuarios
    SET activo = 0
    WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarAutor]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarAutor]
    @id_autor INT,
    @nombre_completo NVARCHAR(100),
    @nacionalidad NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Autor
    SET nombre_completo = @nombre_completo,
        nacionalidad = @nacionalidad
    WHERE id_autor = @id_autor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCategoria]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EditarCategoria]
    @id_categoria INT,
    @nombre NVARCHAR(100),
    @descripcion NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Categoria
    SET nombre = @nombre,
        descripcion = @descripcion
    WHERE id_categoria = @id_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarContacto]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarContacto]
    @id_contacto INT,
    @tipo NVARCHAR(50),
    @institucion NVARCHAR(150),
    @nombre NVARCHAR(100) = NULL,
    @correo NVARCHAR(150) = NULL,
    @telefono NVARCHAR(50) = NULL,
    @descripcion NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Contacto
    SET tipo = @tipo,
        institucion = @institucion,
        nombre = @nombre,
        correo = @correo,
        telefono = @telefono,
        descripcion = @descripcion
    WHERE id_contacto = @id_contacto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarLibro]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EditarLibro]
    @id_libro INT,
    @titulo NVARCHAR(200),
    @isbn NVARCHAR(20) = NULL,
    @anio_publicacion INT = NULL,
    @edicion NVARCHAR(50) = NULL,
    @tipo NVARCHAR(20),
    @descripcion NVARCHAR(MAX) = NULL,
    @id_categoria INT,
    @autores_ids_csv NVARCHAR(MAX) = NULL,
    @clasificacion_dui NVARCHAR(50) = NULL,
    @codigo_barras NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Libro
    SET
        titulo = @titulo,
        isbn = @isbn,
        anio_publicacion = @anio_publicacion,
        edicion = @edicion,
        tipo = @tipo,
        descripcion = @descripcion,
        id_categoria = @id_categoria,
        clasificacion_dui = @clasificacion_dui,
        codigo_barras = @codigo_barras
    WHERE id_libro = @id_libro;

    -- Actualizar autores si vienen
    IF NULLIF(LTRIM(RTRIM(@autores_ids_csv)), '') IS NOT NULL
    BEGIN
        DELETE FROM dbo.Libro_Autor
        WHERE id_libro = @id_libro;

        INSERT INTO dbo.Libro_Autor (id_libro, id_autor)
        SELECT DISTINCT
            @id_libro,
            TRY_CAST(LTRIM(RTRIM(value)) AS INT)
        FROM STRING_SPLIT(@autores_ids_csv, ',')
        WHERE TRY_CAST(LTRIM(RTRIM(value)) AS INT) IS NOT NULL;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarSolicitud]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarSolicitud]
    @id_solicitud INT,
    @descripcion NVARCHAR(500),
    @autor NVARCHAR(150),
    @activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Solicitud
    SET 
        descripcion = @descripcion,
        autor = @autor,
        activo = @activo
    WHERE id_solicitud = @id_solicitud;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarUsuarioBiblioteca]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EditarUsuarioBiblioteca]
    @id_usuario INT,
    @nombre_completo NVARCHAR(150),
    @identificacion NVARCHAR(50),
    @discapacidad BIT,
    @provincia NVARCHAR(100),
    @canton NVARCHAR(100),
    @distrito NVARCHAR(100),
    @rango_edad NVARCHAR(50),
    @sexo NVARCHAR(20),
    @curso NVARCHAR(100),
    @anio INT,
    @grupo NVARCHAR(50),
    @telefono NVARCHAR(30) = NULL,
    @activo BIT = 1,
    @comentario NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET
        nombre_completo = @nombre_completo,
        identificacion = @identificacion,
        discapacidad = @discapacidad,
        provincia = @provincia,
        canton = @canton,
        distrito = @distrito,
        rango_edad = @rango_edad,
        sexo = @sexo,
        curso = @curso,
        anio = @anio,
        grupo = @grupo,
        telefono = @telefono,
        activo = @activo,
        comentario = @comentario
    WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAutor]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarAutor]
    @id_autor INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Autor
    WHERE id_autor = @id_autor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCategoria]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCategoria]
    @id_categoria INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Categoria
    WHERE id_categoria = @id_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarContacto]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarContacto]
    @id_contacto INT
AS
BEGIN
    DELETE FROM Contacto
    WHERE id_contacto = @id_contacto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPrestamo]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EliminarPrestamo]
    @id_prestamo INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM Prestamos 
        WHERE id_prestamo = @id_prestamo
    )
    BEGIN
        RAISERROR('El préstamo no existe.',16,1);
        RETURN;
    END

    DELETE FROM Prestamos
    WHERE id_prestamo = @id_prestamo;

    SELECT 'Préstamo eliminado correctamente' AS Mensaje;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarSolicitud]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarSolicitud]
    @id_solicitud INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Solicitud
    WHERE id_solicitud = @id_solicitud;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLibroPDF]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLibroPDF]
    @id_libro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT nombre_archivo, contenido, content_type, fecha_subida
    FROM LibroDocumentos
    WHERE id_libro = @id_libro;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HasLibroPDF]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_HasLibroPDF]
    @id_libro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE WHEN EXISTS(SELECT 1 FROM LibroDocumentos WHERE id_libro = @id_libro) THEN 1 ELSE 0 END;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialPrestamosUsuario]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_HistorialPrestamosUsuario]
    @identificacion VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.id_prestamo,
        p.id_libro,
        l.titulo AS libro_titulo,
        p.id_usuario,
        u.nombre_completo AS nombre_usuario,
        p.fecha_prestamo,
        p.fecha_devolucion_esperada,
        p.fecha_devolucion_real,
        p.estado,
        p.observaciones,

        CASE 
            WHEN p.estado = 'DEVUELTO' THEN 'DEVUELTO'
            WHEN p.fecha_devolucion_esperada < CAST(GETDATE() AS DATE)
                 AND p.fecha_devolucion_real IS NULL THEN 'NO DEVUELTO'
            ELSE 'PRESTADO'
        END AS estado_calculado,

        DATEDIFF(DAY, GETDATE(), p.fecha_devolucion_esperada) AS dias_restantes

    FROM Prestamos p
    INNER JOIN Libro l ON p.id_libro = l.id_libro
    LEFT JOIN Usuarios u ON p.id_usuario = u.identificacion
    WHERE p.id_usuario = @identificacion
    ORDER BY p.fecha_prestamo DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetalleLibro]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerDetalleLibro]
    @id_libro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        L.id_libro,
        L.titulo,
        L.isbn,
        L.anio_publicacion,
        L.edicion,
        L.tipo,
        L.descripcion,
        L.id_categoria,
        L.activo,
        L.clasificacion_dui,
        L.codigo_barras,

        STUFF((
            SELECT ',' + CAST(LA.id_autor AS VARCHAR(20))
            FROM dbo.Libro_Autor LA
            WHERE LA.id_libro = L.id_libro
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 1, '') AS autores_ids_csv,

        STUFF((
            SELECT ', ' + ISNULL(A.nombre_completo, '')
            FROM dbo.Libro_Autor LA
            INNER JOIN dbo.Autor A ON A.id_autor = LA.id_autor
            WHERE LA.id_libro = L.id_libro
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS autores_nombres

    FROM dbo.Libro L
    WHERE L.id_libro = @id_libro;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetalleUsuario]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDetalleUsuario]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.id_usuario,
        U.nombre_completo,
        U.identificacion,
        U.discapacidad,
        U.provincia,
        U.canton,
        U.distrito,
        U.rango_edad,
        U.sexo,
        U.curso,
        U.anio,
        U.grupo,
        U.telefono,
        U.activo,
        U.comentario,
        U.fecha_registro
    FROM dbo.Usuarios U
    WHERE U.id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPrestamosProximosVencer]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerPrestamosProximosVencer]
    @dias_anticipacion INT = 3
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.id_prestamo,
        l.titulo AS libro_titulo,
        u.identificacion AS identificacion_usuario,
        u.nombre_completo AS nombre_usuario,
        u.telefono,
        p.fecha_prestamo,
        p.fecha_devolucion_esperada,
        p.estado,
        DATEDIFF(DAY, GETDATE(), p.fecha_devolucion_esperada) AS dias_restantes
    FROM Prestamos p
    INNER JOIN Libro l ON p.id_libro = l.id_libro
    INNER JOIN Usuarios u ON p.id_usuario = u.id_usuario
    WHERE p.estado = 'PRESTADO'
      AND DATEDIFF(DAY, GETDATE(), p.fecha_devolucion_esperada) BETWEEN 0 AND @dias_anticipacion
    ORDER BY p.fecha_devolucion_esperada;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPrestamosVencidos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerPrestamosVencidos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.id_prestamo,
        l.titulo AS libro_titulo,
        u.identificacion AS identificacion_usuario,
        u.nombre_completo AS nombre_usuario,
        u.telefono,
        p.fecha_prestamo,
        p.fecha_devolucion_esperada,
        p.estado,
        DATEDIFF(DAY, p.fecha_devolucion_esperada, GETDATE()) AS dias_vencidos
    FROM Prestamos p
    INNER JOIN Libro l ON p.id_libro = l.id_libro
    INNER JOIN Usuarios u ON p.id_usuario = u.id_usuario
    WHERE p.estado IN ('PRESTADO','NO DEVUELTO')
      AND p.fecha_devolucion_esperada < CAST(GETDATE() AS DATE)
    ORDER BY p.fecha_devolucion_esperada;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDevolucion]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarDevolucion]
    @id_prestamo INT,
    @observaciones NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        UPDATE Prestamos
        SET estado = 'DEVUELTO',
            fecha_devolucion_real = GETDATE(),
            observaciones = @observaciones
        WHERE id_prestamo = @id_prestamo;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('El préstamo no existe.',16,1);
            RETURN;
        END

    END TRY
    BEGIN CATCH
        DECLARE @mensaje NVARCHAR(4000);
        SET @mensaje = ERROR_MESSAGE();
        RAISERROR(@mensaje,16,1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SetLibroActivo]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SetLibroActivo]
    @id_libro INT,
    @activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Libro
    SET activo = @activo
    WHERE id_libro = @id_libro;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SetUsuarioActivo]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SetUsuarioActivo]
    @id_usuario INT,
    @activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET activo = @activo
    WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertLibroPDF]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_UpsertLibroPDF]
    @id_libro INT,
    @nombre_archivo NVARCHAR(255),
    @contenido VARBINARY(MAX),
    @content_type NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM LibroDocumentos WHERE id_libro = @id_libro)
    BEGIN
        UPDATE LibroDocumentos
        SET nombre_archivo = @nombre_archivo,
            contenido = @contenido,
            content_type = @content_type,
            fecha_subida = GETDATE()
        WHERE id_libro = @id_libro;
    END
    ELSE
    BEGIN
        INSERT INTO LibroDocumentos (id_libro, nombre_archivo, contenido, content_type, fecha_subida)
        VALUES (@id_libro, @nombre_archivo, @contenido, @content_type, GETDATE());
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerAutores]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerAutores]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_autor,
        nombre_completo,
        nacionalidad
    FROM Autor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerCategorias]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VerCategorias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_categoria,
        nombre,
        descripcion
    FROM Categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerContactos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VerContactos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_contacto,
        tipo,
        institucion,
        nombre,
        correo,
        telefono,
        descripcion,
        fecha_creado
    FROM dbo.Contacto
    ORDER BY fecha_creado DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerLibros]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VerLibros]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        L.id_libro,
        L.titulo,
        L.isbn,
        L.anio_publicacion,
        L.edicion,
        L.tipo,
        L.descripcion,
        L.activo,
        L.clasificacion_dui,
        L.codigo_barras,
        L.id_categoria,
        C.nombre AS categoria,
        C.descripcion AS descripcion_categoria,

        -- 👇 NOMBRE EXACTO: autores
        STUFF((
            SELECT ', ' + nombre_completo
            FROM dbo.Libro_Autor LA
            INNER JOIN dbo.Autor A ON A.id_autor = LA.id_autor
            WHERE LA.id_libro = L.id_libro
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS autores

    FROM dbo.Libro L
    INNER JOIN dbo.Categoria C ON C.id_categoria = L.id_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerPrestamos]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_VerPrestamos]
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualizar estados vencidos automáticamente
    UPDATE Prestamos
    SET estado = 'NO DEVUELTO'
    WHERE estado = 'PRESTADO'
      AND fecha_devolucion_esperada < CAST(GETDATE() AS DATE)
      AND fecha_devolucion_real IS NULL;

    SELECT 
        p.id_prestamo,
        p.id_libro,
        l.titulo AS libro_titulo,
        p.id_usuario,
        u.nombre_completo AS nombre_usuario,
        p.fecha_prestamo,
        p.fecha_devolucion_esperada,
        p.fecha_devolucion_real,
        p.estado,
        p.observaciones
    FROM Prestamos p
    INNER JOIN Libro l ON p.id_libro = l.id_libro
    LEFT JOIN Usuarios u ON p.id_usuario = u.identificacion
    ORDER BY p.fecha_prestamo DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerProvincias]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VerProvincias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_provincia,
        nombre
    FROM Provincia;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerSolicitudes]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerSolicitudes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_solicitud,
        descripcion,
        autor,
        fecha_registro,
        activo
    FROM Solicitud
    ORDER BY fecha_registro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerUsuarios]    Script Date: 21/3/2026 17:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Usuarios;
END;
GO
